@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Gentium Book Plus', serif;
    margin: auto;
    max-width: 78ch;
}

pre,
code {
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 3px;
    border-width: thick;
}
