@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fragment+Mono:ital@0;1&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.org-ul {
    display: list-item;
    list-style-position: inside;
}

body {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-size: 1.6rem; /* 16px */
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  margin: 10px; /* Added margin to each side */
}

.title {
  font-size: 2.4rem; /* 24px */
  font-weight: 600;
}

h1 {
    font-size: 2rem; /* 20px */
    padding: 10px; /* Added padding for spacing inside the box */
    margin: 10px 0; /* Added margin for spacing around the box */
}

h2, h3 {
    font-size: 1.8rem; /* 18px */
}

h3 {
    font-size: 1.6rem; /* 16px */
}

.content {
    font-family: "Bona Nova", serif;
    font-size: 1.6rem; /* 16px */
    font-weight: 400;
    font-style: normal;
}

pre, code {
    font-family: "Fragment Mono", monospace;
    font-size: 1.5rem; /* 15px */
    font-style: normal;
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 3px;
    border-width: thick;
}

ul {
    list-style-type: disc; /* Added bullet to every item in <ul> */
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem; /* Adjusted for smaller screens */
    }
    h1 {
        font-size: 1.8rem; /* Adjusted for smaller screens */
        padding: 10px; /* Adjusted padding for smaller screens */
        margin: 10px 0; /* Adjusted margin for smaller screens */
    }
    h2, h3 {
        font-size: 1.4rem; /* Adjusted for smaller screens */
    }
    .content {
        font-size: 1.4rem; /* Adjusted for smaller screens */
    }
    pre, code {
        font-size: 1.3rem; /* Adjusted for smaller screens */
    }
}
