@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.org-src-container, .code {
    font-family: 'Fira Code', monospace;
    font-size: 12px;
}
